@page "/t1"

<h2>סדרת מספרים</h2>

<h3>מספר ראשון :</h3>
<input type="number" @bind-value="num1" />

<br />
<br />

<h3>מספר שני : </h3>
<input type="number" @bind-value="num2" />

<br />
<br />

<button @onclick="Series">צור סדרה</button>

<br />
<br />

<h3>התוצאה:</h3>
<div>@result</div>

@code {
    int num1;
    int num2;
    string result = "";

    void Series()
    {
        result = "";

        int min = num1;
        int max = num2;

        if (num1 > num2)
        {
            min = num2;
            max = num1;
        }

        for (int i = min; i <= max; i++)
        {
            result += i + " ";
        }
    }
}