@page "/t2"

<h3>כמות מנות:</h3>
<input type="number" @bind="num1" />

<br />
<br />

<h3>מחיר למנה:</h3>
<input type="number" @bind="num2" />

<br />
<br />

<button @onclick="CalculateTotalPrice">חשב מחיר כולל</button>

<br />
<br />

@if (calculated = true)
{
    <div>מחיר כולל: @totalPrice</div>

    @if (num1 > 400)
    {
        <div>קיבלת גם סוף שבוע בחו"ל מתנה!</div>
    }
}

@code {
    int num1, num2;
    double totalPrice;
    bool calculated = false;

    void CalculateTotalPrice()
    {
        totalPrice = num1 * num2;

        if (num1 > 300)
        {
            totalPrice *= 0.9;
        }

        calculated = true;
    }
}
